In [1]:
# import pandas for data manipulation
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Read in sales data
sales = pd.read_csv('fake_data_customer_view.csv', encoding='utf-8')
sales = sales[sales.filter(regex='^(?!Unnamed)').columns]

# Remove unecessary 'STATE' column
sales.drop(columns=['STATE'])

     STORE  WEEK    SESSION PROPOSITION  SALES  CUST_ID  ACTIVE_SUB
0        1     1    Morning     pick-up    150       20           0
1        1     1    Morning    delivery    480        0           1
2        1     1    Morning    in-store    430       63           0
3        1     1  Afternoon     pick-up     50       32           1
4        1     1  Afternoon    delivery    163       20           0
..     ...   ...        ...         ...    ...      ...         ...
427      3    12      Night    delivery    411       50           1
428      3    12      Night    in-store     65       53           1
429      3    12      Night    delivery    435       33           1
430      3    12      Night    delivery    343       30           1
431      3    12      Night    in-store    445       22           1

[432 rows x 7 columns]

In [3]:
# Default columns (and relevant functions) to aggregate on
DEFAULT_AGGREGATIONS = {'SALES': 'sum', 'CUST_ID': 'count', 'ACTIVE_SUB': 'sum', 
                        'SALES_DELTA': 'sum', 'SUB_DELTA': 'sum'}

def group_on_variable(cols, df):
    """
    Helper method for grouping on and removing columns from
    the sales dataframe. We bake in the particular necessary aggregations 
    for our columns.
    """
    
    aggregation_functions = {
        col: f for (col, f) in DEFAULT_AGGREGATIONS.items() if col in df
    }

    df2 = df.groupby(cols, as_index=False).aggregate(aggregation_functions)
    
    # Rename CUST_ID to TOTAL_CUST and ACTIVE_SUB to TOTAL_ACTIVE
    df2.rename(columns={'CUST_ID': 'TOTAL_CUST', 'ACTIVE_SUB': 'TOTAL_ACTIVE'}, inplace=True)
    df2.sort_values(['WEEK'])
    return df2

In [4]:
def rolling_week(df, num_weeks, granularity):
    
    # Do rolling sum
    a = df.shift(-num_weeks).rolling(num_weeks)['SALES'].sum()
    b = df.rolling(num_weeks)['SALES'].sum()
    df['DATA'] = (a/b - 1) * 100
    
    # Shift data down
    df['WEEK_TREND'] = df.groupby(granularity)['DATA'].shift(num_weeks)
    return df

In [5]:
def week_trend(sales, num_weeks, granularity):
    new_sales = group_on_variable(granularity, sales)
    granularity.remove('WEEK')
    return new_sales.groupby(granularity, as_index=False).apply(rolling_week, num_weeks, granularity).drop(columns='DATA')

In [11]:
pd.set_option('display.max_rows', 500)
display(week_trend(sales, 3, ['WEEK', 'STORE', 'PROPOSITION']))

     WEEK  STORE PROPOSITION  SALES  TOTAL_CUST  TOTAL_ACTIVE  WEEK_TREND
0       1      1    delivery   1779           6             5         NaN
1       1      1    in-store   1004           3             0         NaN
2       1      1     pick-up    571           3             1         NaN
3       1      2    delivery   1861           5             2         NaN
4       1      2    in-store   1267           4             2         NaN
5       1      2     pick-up   1218           3             3         NaN
6       1      3    delivery   1545           5             1         NaN
7       1      3    in-store    985           4             1         NaN
8       1      3     pick-up   1045           3             1         NaN
9       2      1    delivery    851           5             3         NaN
10      2      1    in-store   1005           4             3         NaN
11      2      1     pick-up    988           3             2         NaN
12      2      2    delivery    916           5             3         NaN
13      2      2    in-store    560           4             0         NaN
14      2      2     pick-up    661           3             1         NaN
15      2      3    delivery   1079           5             3         NaN
16      2      3    in-store   1173           4             2         NaN
17      2      3     pick-up   1010           3             0         NaN
18      3      1    delivery   1554           5             1         NaN
19      3      1    in-store   1283           4             1         NaN
20      3      1     pick-up   1042           3             2         NaN
21      3      2    delivery   1240           5             3         NaN
22      3      2    in-store   1634           4             2         NaN
23      3      2     pick-up   1009           3             2         NaN
24      3      3    delivery   1735           5             2         NaN
25      3      3    in-store    373           4             2         NaN
26      3      3     pick-up    491           3             1         NaN
27      4      1    delivery   1274           5             3         NaN
28      4      1    in-store   1070           4             2         NaN
29      4      1     pick-up   1161           3             2         NaN
30      4      2    delivery   1488           5             3         NaN
31      4      2    in-store    609           4             1         NaN
32      4      2     pick-up    694           3             2         NaN
33      4      3    delivery    872           5             3         NaN
34      4      3    in-store   1454           4             2         NaN
35      4      3     pick-up    471           3             0         NaN
36      5      1    delivery   1501           6             4         NaN
37      5      1    in-store    302           3             1         NaN
38      5      1     pick-up   1124           3             1         NaN
39      5      2    delivery   1409           5             4         NaN
40      5      2    in-store    748           4             2         NaN
41      5      2     pick-up    587           3             0         NaN
42      5      3    delivery   1132           5             4         NaN
43      5      3    in-store    639           4             0         NaN
44      5      3     pick-up    743           3             3         NaN
45      6      1    delivery   1631           5             1    5.305927
46      6      1    in-store   1475           4             2  -13.517618
47      6      1     pick-up    992           3             3   25.990004
48      6      2    delivery   1130           5             2    0.248942
49      6      2    in-store   1493           4             2  -17.653857
50      6      2     pick-up    700           3             1  -31.405817
51      6      3    delivery   1509           5             3  -19.408121
52      6      3    in-store    827           4             2   15.369419
53      6      3     pick-up    869           3             2  -18.185389
54      7      1    delivery   1148           5             4   16.335961
55      7      1    in-store   1296           4             3   -8.487195
56      7      1     pick-up    606           3             1  -14.697587
57      7      2    delivery   1509           5             2   11.086718
58      7      2    in-store    919           4             1   12.736354
59      7      2     pick-up    992           3             1   -3.595601
60      7      3    delivery    854           5             3   -5.181769
61      7      3    in-store   1256           4             2   -9.266667
62      7      3     pick-up    580           3             2   11.156187
63      8      1    delivery   1147           5             1   -9.309309
64      8      1    in-store   1308           4             1   53.634652
65      8      1     pick-up    728           3             1  -30.087166
66      8      2    delivery   1760           5             4    6.333092
67      8      2    in-store    630           4             4    1.705115
68      8      2     pick-up    645           3             2    2.052402
69      8      3    delivery   1220           5             3   -4.172239
70      8      3    in-store    776           4             2   15.936740
71      8      3     pick-up    696           3             3   25.806452
72      9      1    delivery   2048           6             5   -1.429868
73      9      1    in-store    782           3             1   18.932209
74      9      1     pick-up    684           3             1  -38.419286
75      9      2    delivery   1438           5             3   16.886019
76      9      2    in-store   1143           4             2   -5.543860
77      9      2     pick-up    710           3             3   18.475517
78      9      3    delivery   1709           5             3    7.685739
79      9      3    in-store    684           4             3   -6.986301
80      9      3     pick-up    817           3             0    0.480077
81     10      1    delivery   1410           5             3    7.593458
82     10      1    in-store    850           4             1   -4.328018
83     10      1     pick-up    450           3             3  -31.594416
84     10      2    delivery   1488           5             3   15.760870
85     10      2    in-store   1237           4             2   -4.746835
86     10      2     pick-up    948           3             0    1.053093
87     10      3    delivery   1670           5             3   31.587983
88     10      3    in-store   1459           4             1    7.237325
89     10      3     pick-up   1077           3             3   18.156934
90     11      1    delivery   1245           5             4   19.791136
91     11      1    in-store   1109           4             2  -32.802157
92     11      1     pick-up    573           3             3  -26.612210
93     11      2    delivery   1538           5             3    1.477609
94     11      2    in-store    999           4             0   11.078238
95     11      2     pick-up   1043           3             3   15.575524
96     11      3    delivery   1132           5             1   25.900084
97     11      3    in-store   1177           4             3   16.124519
98     11      3     pick-up    803           3             2   25.734266
99     12      1    delivery   1763           5             3    1.726917
100    12      1    in-store    635           4             0  -23.390431
101    12      1     pick-up    830           3             2   -8.176412
102    12      2    delivery   1192           5             3  -10.388783
103    12      2    in-store   1371           4             1   33.989599
104    12      2     pick-up   1105           3             2   31.913081
105    12      3    delivery   1880           5             5   23.764208
106    12      3    in-store   1154           4             3   39.543446
107    12      3     pick-up    434           3             3   10.559006

In [7]:
def rolling_year(df, num_weeks, granularity):
    
    a = df.shift(-52).rolling(num_weeks)['SALES'].sum()
    b = df.rolling(num_weeks)['SALES'].sum()
    df['YEAR_TREND'] = (a/b - 1) * 100
    return df

In [8]:
def year_trend(df, num_weeks, granularity):
    new_sales = group_on_variable(granularity, sales)
    granularity.remove('WEEK')
    return new_sales.groupby(granularity, as_index=False).apply(rolling_year, num_weeks, granularity)

In [9]:
display(year_trend(sales, 2, ['WEEK', 'STORE']))

    WEEK  STORE  SALES  TOTAL_CUST  TOTAL_ACTIVE  YEAR_TREND
0      1      1   3354          12             6         NaN
1      1      2   4346          12             7         NaN
2      1      3   3575          12             3         NaN
3      2      1   2844          12             8         NaN
4      2      2   2137          12             4         NaN
5      2      3   3262          12             5         NaN
6      3      1   3879          12             4         NaN
7      3      2   3883          12             7         NaN
8      3      3   2599          12             5         NaN
9      4      1   3505          12             7         NaN
10     4      2   2791          12             6         NaN
11     4      3   2797          12             5         NaN
12     5      1   2927          12             6         NaN
13     5      2   2744          12             6         NaN
14     5      3   2514          12             7         NaN
15     6      1   4098          12             6         NaN
16     6      2   3323          12             5         NaN
17     6      3   3205          12             7         NaN
18     7      1   3050          12             8         NaN
19     7      2   3420          12             4         NaN
20     7      3   2690          12             7         NaN
21     8      1   3183          12             3         NaN
22     8      2   3035          12            10         NaN
23     8      3   2692          12             8         NaN
24     9      1   3514          12             7         NaN
25     9      2   3291          12             8         NaN
26     9      3   3210          12             6         NaN
27    10      1   2710          12             7         NaN
28    10      2   3673          12             5         NaN
29    10      3   4206          12             7         NaN
30    11      1   2927          12             9         NaN
31    11      2   3580          12             6         NaN
32    11      3   3112          12             6         NaN
33    12      1   3228          12             5         NaN
34    12      2   3668          12             6         NaN
35    12      3   3468          12            11         NaN

In [10]:
# def rolling(df, num_weeks):
    
#     # Do rolling sum
#     a = df.shift(-num_weeks).rolling(num_weeks)['SALES'].sum()
#     b = df.rolling(num_weeks)['SALES'].sum()
#     df['DATA'] = (a/b - 1) * 100
    
#     # Shift data down
#     df['FEATURE'] = df.groupby('STORE')['DATA'].shift(num_weeks)

#     return df

# sales = group_on_variable(['WEEK', 'STORE', 'SESSION'], sales)
# sales.groupby(['STORE', 'SESSION'], as_index=False).apply(rolling, 2).drop(columns='DATA').head(100)